.selectRounds {
  margin: 100px auto;
  text-align: center;
  display: flex;
  gap: 10px;
  width: 50%;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-weight: 700;
    text-transform: capitalize;
    -webkit-text-stroke: 2px black;
  }

  .numberOfRounds {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

.showRoomId {
  background-color: rgba(0, 0, 0, 0.74);
  margin: auto;
  width: 30%;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;

  .roomId {
    font-weight: 500;
    font-size: 20px;
  }

  .copyButton {
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.74);
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    box-shadow: none;

    // &:hover {
    //   background-image: none;
    //   background-color: none;
    // }

    &:active {
      border: none;
    }
  }
}
