.background-video-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Pushes the video to the background */
  }

  .action-button {
    position: absolute;
    top: 40%;
    right: 50%;
    padding: 15px 50px;
    font-size: 20px;
    color: #fff;
  }
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  transition: background-image 0.3s ease;

  &:hover {
    background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%);
  }
}

.back-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
}
